<div style="max-width: 1200px; margin: 0 auto;">
    <div>AngularJS Tree application</div>

    <div class="container">
        <div class="columns gapless">
            <div class="column col-12">
                <div class="card">
                    <div class="columns">
                        <div class="column col-4" ng-repeat="imgsrc in tree.images">
                            <img style="max-height: 250px;" src="app/{{imgsrc}}">
                        </div>
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">{{tree.nombre}}</div>
                        <div class="card-subtitle text-gray">{{tree.nombre_cientifica}}</div>
                        <div class="card-subtitle">
                            <div><strong> Other Common Names</strong></div>
                            <span ng-repeat="n in tree.otros_nombres_comunes" class="chip">{{n}}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Contenido del PDF</p>
                        <section ng-repeat="key in tree.keys" ng-show="tree[key]">
                            <strong> {{key | readable}}  </strong>
                            <p>
                                {{tree[key]}}
                            </p>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
